.container {
    padding-top: 20px;
    border: 1px solid black;
}


#nav-tabContent .active {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start !important;
    flex-wrap: wrap;
    padding-top: 20px;
}

.card {
    min-width: 300px !important;
}

.card-body > p {
    margin-bottom: 5px !important;
}


.nav-link {
    color: black !important;
}

.nav-link:active {
    color: red !important;
    background: black;
}