.appHeader {
    margin-bottom: 40px;
}

.container {
    min-height: 98vh;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#nav-tabContent .active {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}


.card {
    min-width: 300px;
    min-height: 320px;
}

.card:hover {
    min-width: 300px;
    box-shadow: 0 0 10px rgba(89, 128, 49, 0.5);
    transition: box-shadow .1s linear;
}

.card-body > p {
    margin-bottom: 5px;
}

.nav-link {
    color: black;
}

.nav-tabs > .nav-link.active {
    color: rgba(0, 137, 0, 255);
    font-weight: bold;
}

.showMoreLessButton {
    box-shadow: none;
    outline: none;
}

.btn-link:hover:focus,
.btn-link:hover:active,
.btn-link:hover:visited {
    box-shadow: none;
    outline: none;
}


.search-panel {
    min-height: 60px;
    padding-top: 30px;
    padding-left: 60px;
    margin-right: 20px;

}


.search-input:focus,
.search-input:active,
.search-input:visited {
    box-shadow: 0 0 10px rgba(89, 128, 49, 0.5);
    outline: none;
    border:  1px solid rgba(0, 137, 0, 255);
}

.pagination-bar {
    height: 60px;
    padding-top: 30px;
    padding-left: 60px;
}

.page-item.active .page-link {
    background-color: rgba(0, 137, 0, 255);
    border-color: rgba(0, 137, 0, 255);
}